.bigblue {
    color: DodgerBlue;
    padding: 40px;
    background-color: whitesmoke;
    opacity:  0.9;
    font-family: Arial;
    text-align: center;
  }


.btn-flat {
  background-color: #1F618D ;
  color: white;
  }
 